#gallery {
  padding-bottom: 5%;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-content {
  width: 23%;
  height: 35vh;
}

/********************** 
Media Queries for responsive design 
 *********************/
 @media (max-width: 980px) {
  .gallery-container {
    margin-top: 8%;
  }
  .gallery-content {
    width: 100%;
  }
 }
